.RegisterPage {
  display: flex;
  flex-direction: column;
}

.register-page-container {
  margin: 50px auto;
}

label {
  color: black;
  font-size: 36px;
  text-align: center;
  margin-right: 20px;
}

.inputEmail,
.inputPw,
.inputName,
.inputBirth,
.inputDepartment,
.inputCode,
.inputTel {
  width: 500px;
  height: 57px;
  border: 2px solid;
  font-size: 36px;
  font-family: sans-serif;
}

.inputGender {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* 버튼 */
.btn-box {
  display: flex;
  justify-content: center;
}
.RegisterBtn {
  width: 47%;
  text-align: center;
  color: black;
  font-size: 32px;
}

.RegisterBtn:hover {
  cursor: pointer;
}
