.LoginPage {
  display: flex;
  flex-direction: column;
}

.Container {
  margin: 100px auto;
}

.page-description {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.input-box {
  width: 100%;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  color: black;
  font-size: 36px;
  text-align: center;
  margin-right: 20px;
}

.inputEmail,
.inputPw {
  width: 318px;
  height: 57px;
  border: 2px solid;
  font-size: 36px;
}

/* 버튼 */
.login-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginBtn,
.goRegisterPageBtn {
  width: 500px;
  height: 70px;
  text-align: center;
  color: black;
  font-size: 36px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 0;
}

.Kakao-Login-Btn {
  width: 500px;
  height: 70px;
  border: none;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.Kakao-Login-Btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginBtn,
.Kakao-Login-Btn,
.goRegisterPageBtn:hover {
  cursor: pointer;
}
